<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <img loading="lazy" decoding="async" src="/assets/images/ccs-footer-logo.png" alt="logo" width="264" height="78">
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="https://store.childhoodcancersociety.org/collections/all">Store</a>
                    </li>
                    <li>
                        {# Replace this href once Programs page is developed #}
                        <a href="/projects">Programs</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        {# Replace this href once Programs page is developed #}
                        <a href="/testimonials">Events</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Service1</li>
                    <li>Service2</li>
                    <li>Service4</li>
                    <li>Service5</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">Childhood Cancer Society<br>
                        P.O. Box 221<br>
                        189 Berdan Avenue<br>
                        Wayne, NJ 07470</a>
                    </li>
                    <li>
                        <a href="tel:848-200-2111">T: +1 (848) 200-2111</a>
                    </li>
                    <li>
                        {# Is this the right email address? #}
                        <a href="mailto:email@ccs.org">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Your Company Name</a>
        <span class="copyright"> Copyright 2021 - Present</span>
    </div>
</footer>