@import url('./about.css');
@import url('./blog.css');
@import url('./contact.css');
@import url('./critical.css');
@import url('./dark.css');
@import url('./local.css');
@import url('./mobile-nav-options.css');
@import url('./projects.css');
@import url('./reviews.css');
@import url('./root.css');

:root {
    --ccs-color-primary-base: #7C6492;
    --ccs-color-primary-darker: #452264;
    --ccs-color-primary-lighter: #C7BCD0;
    --ccs-color-secondary-base: #6FCA72;
    --ccs-color-secondary-darker: #4A984E;
    --ccs-color-secondary-lighter: #B0EDB3;

    --ccs-color-neutral-black: #25282B;
    --ccs-color-neutral-dark-gray: #52575C;
    --ccs-color-neutral-light-gray: #F9F9FA;
    --ccs-color-neutral-white: #FFFFFF;
}