/* Global container styles */
.container {
  width: 100%;
  max-width: 1200px; /* Maximum width of the container */
  margin: 20px auto; /* Centers the container */
  padding: 40px;
  box-sizing: border-box; /* Includes padding in the width */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 20px; /* Less padding on smaller screens */
  }
}

/* Specific styles for volunteer opportunities section */
#volunteer-opportunities {
  margin-top: 120px;
  padding: 20px;
}

#volunteer-opportunities a {
  text-decoration: none;
  color: #861e7d; /* Link color */
}

.centered-title {
  text-align: center;
  font-size: 2em;
  color: #a80265; /* Title color */
  margin-bottom: 20px;
}

.centered-text {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

#volunteer-opportunities .center-link {
  display: block;
  text-align: center;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .centered-title {
    font-size: 1.5em;
  }
}
